.tag {
	display: inline-block;
	width: fit-content;
	padding: 4px 8px;
	color: var(--text-primary-color);
	background: var(--background-element);
	border-radius: 100px;
	cursor: pointer;
}

.tag:hover,
.tag:focus {
	background: var(--interface-accent);
}
