.tab {
	min-width: 120px;
	padding: 16px 24px;
	color: #8585ad;
	text-align: center;
	background-color: #131316;
	box-shadow: inset 0 -1px 0 #2f2f37;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.tab:hover {
	color: white;
}

.tab_type_current {
	color: white;
	box-shadow: inset 0 -2px 0 #4c4cff;
	pointer-events: none;
}
