.button {
	/* library копипаст в модуль */
	display: inline-block;
	padding: 10px 40px;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;

	/* figma */
	background: #4c4cff;
	border: 1px solid transparent;
	border-radius: 20px;
	cursor: pointer;
	user-select: none;
}

.button:hover {
	/* sass */

	/* background: darken($global-primary-background, 5%); */
	background: #4c4cff;
}
