.group {
	margin-bottom: 1rem;
}

.label {
	display: inline-block;
	margin-bottom: 0;
	padding: 0.5rem 0.75rem;
	color: #f2f2f3;
}

.control {
	display: block;
	width: 100%;
	padding: 8px 16px;
	color: #8585ad;
	background: #2f2f37;
	border: none;
	border-radius: 20px;
}

textarea {
	/* todo вынести в глобальный стиль */
	box-sizing: border-box;
	margin: 0;
	font: inherit;
	border-radius: 0;
	resize: none;
}
