.article-preview {
	display: flex;
	width: 100%;
	padding: 1.5rem 0;
	background: #131316;
	box-shadow: inset 0 -1px 0 #2f2f37;
}

.article-content {
	width: 100%;
}

/* author */

.article-meta {
	display: flex;
	gap: 8px;
	color: white;
}

.avatar {
	display: flex;
	vertical-align: middle;
}

.article-meta .info .author {
	display: block;
}

/* date */

.article-meta .info .date {
	display: block;
	color: #8585ad;
}

.article-preview .article-meta {
	margin: 0 0 1rem;
}

/* tags */

.article-preview .preview-link h1 {
	margin-bottom: 3px;
	color: white;
}

.article-preview .preview-link p {
	margin-bottom: 15px;
	color: #8585ad;
}

/* favorite */

.favorited {
	display: flex;
	gap: 9px;
	align-items: center;
	justify-self: flex-end;
	margin-left: auto;
	color: #f20d33;
	cursor: pointer;
}

.unfavorited {
	display: flex;
	gap: 9px;
	align-items: center;
	justify-self: flex-end;
	margin-left: auto;
	cursor: pointer;
}

/* tags */

.card-links {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	height: auto;
}

/* media */

.media {
	width: 160px;
	height: auto;
	margin-right: 16px;
	background: #2f2f37;
}
