@font-face {
	font-family: "JetBrains Mono";
	src: url("../../fonts/JetBrainsMono-Regular.ttf");
}
.main {
	cursor: pointer;
	width: fit-content;
	height: 24px;
	font-family: "JetBrains Mono";
	font-size: 16px;
	line-height: 24px;
	color: #4c4cff;
}
.main__disabled {
	cursor: pointer;
	width: fit-content;
	height: 40px;
	font-family: "JetBrains Mono";
	font-size: 16px;
	line-height: 24px;
	color: #8585ad;
}
.main:hover {
	text-decoration: underline;
}
.main:active {
	text-decoration: underline;
}
.main:focus {
	text-decoration: underline;
}
