
.form-controls {
  position: relative;
}

/*
 * <input /> Из library в цветах `figma`
 */
.form-control {
  background: $global-emphasis-background;
  border-radius: 20px;
  color: $global-emphasis-color;
}

/*
 * Иконка на <input />
 */
.form-control-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;

  padding: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*
 * Чтобы текст не заходил под иконку. верстка иконки перед инпутом
 */
.form-control-icon ~ .form-control {
  padding-right: 2.5em !important;
}

.form-button {
  background: $global-primary-background;
  border-radius: 20px;
  padding: 10px 40px;
}

.form-button:hover {
  background: darken($global-primary-background, 5%);
}