
//
// Основное
//

@import "variables.scss";
@import "base.scss";

//
// Элементы
//

@import "form.scss";

.text_type_main-caption {
  font-weight: normal;
  font-size: 12px;
  font-family: 'JetBrains Mono', sans-serif;
  line-height: 16px;
}

.text_type_main-default {
  font-weight: normal;
  font-size: 16px;
  font-family: 'JetBrains Mono', sans-serif;
  line-height: 24px;
}

.text_type_main-headline {
  font-weight: bold;
  font-size: 24px;
  font-family: "Exo 2", sans-serif;
  line-height: 28px;
}

.text_type_main-h2 {
  font-weight: bold;
  font-size: 36px;
  font-family: "Exo 2", sans-serif;
  line-height: 40px;
}

.text_type_main-h1 {
  font-weight: bold;
  font-size: 64px;
  font-family: "Exo 2", sans-serif;
  line-height: 64px;
}

.text {
  margin: 0;
  padding: 0;
}

