//
// Типографика
//

$global-font-family: 'JetBrains Mono', sans-serif !default;
$global-font-size: 16px !default;
$global-font-weight: normal !default;
$global-line-height: 1.5 !default; // 24px

$global-2xlarge-font-size: 2.625rem !default; // 42px
$global-xlarge-font-size: 2rem !default; // 32px
$global-large-font-size: 1.5rem !default; // 24px
$global-medium-font-size: 1.25rem !default; // 20px
$global-small-font-size: 0.875rem !default; // 14px

// заголовки @todo: рефакторинг

$heading-font-family: 'Exo 2', sans-serif;
$heading-font-weight: bold !default;

$heading-h2-font-size: $global-2xlarge-font-size !default;
$heading-h2-line-height: 1.3 !default;

//
// Цвета
//

$global-color: #F2F2F3 !default;
$global-emphasis-color: #333 !default;
$global-muted-color: #999 !default;

$global-link-color: #4C4CFF !default;
$global-link-text-decoration: none !default;
$global-link-hover-color: #4C4CFF !default;
$global-link-hover-text-decoration: underline !default;

//
// Фоны
//

$global-background: #131316 !default;
$global-secondary-background: #1C1C21 !default;

// @todo
// $navbar-background: $global-secondary-background !default;