.group {
	margin-bottom: 1rem;

	/* @todo: Удалите когда сделаете типографику для html, body { } */
	font-weight: 400;
	font-size: 16px;
	font-family: JetBrainsMono-Regular, sans-serif;
	font-style: normal;
	line-height: 24px;
}

input {
	/* todo вынести в глобальный стиль */
	box-sizing: border-box;
	margin: 0;
	font: inherit;
	border-radius: 0;
}

.label {
	display: inline-block;
	margin-bottom: 0;
	padding: 0.5rem 0.75rem;
	color: var(--text-primary-color);
}

.controls {
	position: relative;
}

.control {
	display: block;
	width: 100%;
	height: 40px;
	padding: 8px 16px;
	color: var(--text-secondary-color);
	background: var(--background-element);
	border: 2px solid var(--background-element);

	/* border: none; */
	border-radius: 20px;
	transition: 0.3s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px var(--background-element) inset !important;
}

.control:-webkit-autofill {
	-webkit-text-fill-color: var(--text-secondary-color) !important;
}

.control:focus {
	border: 2px solid var(--interface-accent);
	outline: none;
}

.control__error {
	border: 2px solid var(--error-color);
}

.icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: auto;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

.icon ~ .control {
	padding-right: 2.5em !important;
}

.message__error {
	margin-top: 4px;
	margin-left: 16px;
	color: var(--error-color);
}
